<section class="cards-section">
  <div class="container cards-container">
    <div class="card card-create" (click)="moveToCreateInstitutionProfile()">
      <h2>Create Profile</h2>
      <p>Register your school or institution and build a profile to showcase your values, programs, and hiring needs.</p>
    </div>
    <div class="card card-view" (click)="moveToViewInstitutionProfile()">
      <h2>View Profile</h2>
      <p>Easily view and update your institution's profile, job listings, and preferences all in one place.</p>
    </div>
    <div class="card card-applications" (click)="moveToViewApplications()">
      <h2>Applications</h2>
      <p>Access and manage job applications submitted by qualified teachers in real-time.</p>
    </div>
  </div>
</section>
