.ivp-container {
  min-height: 100vh;
  padding: 40px;
  color: white;
  background: linear-gradient(-45deg, #c20909, #b52f2f, #db9a4a, #e1d073);
  background-size: 400% 400%;
  animation: animatedIntroBG 12s ease infinite;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes animatedIntroBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
